<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quest Book Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<style>
    .nonClickable{
        pointer-events:none;
        cursor:default;
    }
</style>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Quest Book Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand nonClickable" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @{
                        if (String.Equals(Session["user"].ToString(), "admin", StringComparison.CurrentCultureIgnoreCase))
                        {
                            <li>@Html.ActionLink("Home", "Index", "Identity", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Book Registration", "Index", "Book", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("All Orders", "Index", "Cart", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Home", "Index", "Book", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                    }
                    <li>@Html.ActionLink("Orders", "UserDefinedIndex", "Cart", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Logout", "IdentityLogin", "UserLogin", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Quest Book Application
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
